body{
    height: 500px;
    width: 300px;
}
.toggle{
    font-size: 24px;
    font-family: Calibri;
    border-radius: 10pt;
}
.desligado{
    background-color: limegreen;
}
.ligado{
    background-color: red;
}
#listaDeGuias{
    list-style-type: none;
    align-self:flex-start;
}
.itemdaLista{
    font-size: medium;
    background-color: gray;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}
